bibliografia

imagens

.vscode

.ipynb_checkpoints

codigo/__pycache__

.Rhistory

codigo/utilfunction_compare.ipynb

codigo/README.md

study_sineModel_function.ipynb

study_sineModelAnal.ipynb

study_sineModelSynth.ipynb

study_sineModel.ipynb

emulacao_gaita_librosa.ipynb